/*normalize + h5bp*/
html {
	font-family: sans-serif; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */
}

body {
	margin: 0;
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

a:focus {
	outline: thin dotted;
}

a:active,
a:hover {
	outline: 0;
}

b,
strong {
	font-weight: bold;
}

img {
	border: 0;
	vertical-align: middle;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/*  jedeprime */
body {
	font-family: Georgia, serif;
	text-align: center;
	margin: 0 auto;
	width: auto;
	background: #f1f1f1 none repeat top left;
	text-rendering: optimizeLegibility;
	position: relative;
}

img {
	width: auto;
	max-width: 100%;
}

a {
	text-decoration: none;
	position: relative;
}

a:active {
	top: 1px;
}

.loading {
	min-width: 50px;
	min-height: 50px;
	background: transparent url(../img/loader.gif) no-repeat center center;
}

.title {
	margin: 0;
	font-size: 4em;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8), 0 -1px 0 rgba(255, 255, 255, 1.0);
}

.title a {
	color: inherit;
}

#content {
	padding: 20px 0 0 0;
}

#item {
	position: relative;
	width: auto;
	max-width: 500px;
	margin: 0 auto 20px;
}

.item-img {
	box-shadow: 0 2px 20px -2px #777;
	border: 1px solid #808080;
	margin: 10px 0;
}

.item-title, .item-source a {
	font-style: italic;
}

.item-title {
	margin: 0;
	color: #222;
	font-size: 1.1em;
}

.item-source a {
	color: #888;
	font-size: .8em;
}

a.reader-choice {
	font-size: 5em;
	margin: 0 1em;
	border-radius: 20px;
	background: transparent;
	padding: 0.1em 0.2em;
	white-space: nowrap;
}

a.sad {
	color: #aaa;
	text-shadow: 0 1px 0 rgba(125, 125, 125, 1.0), 0 -1px 0 rgba(255, 255, 255, 1.0);
	-webkit-transition: all 0.75s linear;
	-moz-transition: all 0.75s linear;
	-ms-transition: all 0.75s linear;
	-o-transition: all 0.75s linear;
	transition: all 0.75s linear;
}

a.happy {
	color: #00C410;
	text-shadow: 0 1px 0 rgba(0, 150, 40, 1.0), 0 -1px 0 rgba(255, 255, 255, 1.0);
}

a.sad:hover, a.sad:focus {
	background: black;
	color: white;
	text-shadow: none;
}

@-moz-keyframes coolcoolcool {
	from { background-color: #f50; }
	25% { background-color: #ff1493; }
	50% { background-color: #0af; }
	75% { background-color: #9d1; }
	to { background-color: #9C29E9; }
}
@-webkit-keyframes coolcoolcool {
	from { background-color: #f50; }
	25% { background-color: #ff1493; }
	50% { background-color: #0af; }
	75% { background-color: #9d1; }
	to { background-color: #9C29E9; }
}
@-o-keyframes coolcoolcool {
	from { background-color: #f50; }
	25% { background-color: #ff1493; }
	50% { background-color: #0af; }
	75% { background-color: #9d1; }
	to { background-color: #9C29E9; }
}
@keyframes coolcoolcool {
	from { background-color: #f50; }
	25% { background-color: #ff1493; }
	50% { background-color: #0af; }
	75% { background-color: #9d1; }
	to { background-color: #9C29E9; }
}

a.happy:hover, a.happy:focus {
	-webkit-animation: coolcoolcool 0.5s infinite;
	-moz-animation: coolcoolcool 0.5s infinite;
	-o-animation: coolcoolcool 0.5s infinite;
	animation: coolcoolcool 0.5s infinite;
	background: #00C410;
	color: white;
	text-shadow: none;
}

.share-link {
	padding: 3px 5px;
	border-radius: 4px;
	border: 1px solid transparent;
}

.share-link:hover {
	border: 1px solid #555;
}

.share-link.twitter {
	color: white;
	background: #00acee;
}

.share-link.facebook {
	color: white;
	background: #3c6bce;
}

.share-text {
	width: 500px;
	max-width: 100%;
	min-height: 100px;
	font-family: sans-serif;
	line-height: 1.5;
	font-size: .9em;
}

#konami {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #bbb;
}

/* styles propres à certaines sources */
.item-source-vdm .item-text {
	padding: 8px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 1px #dedede;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: 1.5em;
}

@media (min-width: 641px) {
	body {
		background-image: url(../img/bgnoise.png);
	}
}

@media (max-width: 640px) {
	body, #item, #item .item-img, .share-text {
		width: auto;
		max-width: 100%;
		margin: 0;
		padding: 0;
	}

	#content {
		padding: 5px 0 0 0;
	}

	#item .item-img {
		margin: 10px 0;
	}

	img {
		height: auto; width: auto;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.title {
		font-size: 2em;
		margin: 1em 0;
	}

	a.reader-choice, a.reader-choice:hover, a.reader-choice:focus {
		display: block;
		margin: 2em 1em;
		padding: 0.75em 0;
		font-size: 1.2em;
		border-radius: 10px;
		-webkit-animation: none;
		-moz-animation: none;
		-o-animation: none;
		animation: none;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
		color: white;
		text-shadow: none;
	}

	a.sad {
		background: #000;
	}

	a.happy {
		background: #00C410;
	}

	.share-text {
		word-wrap: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
		font-size: 1em;
		width: 90%;
	}

	.share-link {
		padding: 6px 14px;
		margin: 5px;
	}

	.no-mobile {
		display: none !important;
	}
}

@media (max-width:640px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio:2) {
	body {
		-webkit-text-size-adjust: 70%;
	}
}